.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  width: 320px;
  border: 2px solid rgb(53, 51, 51);
  border-radius: 5px;
  background-color: #eee;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todoList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: decimal;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
  color: #b318f0;
}

.todoItem button {
  width: fit-content;
  height: 30px;
}

.strikeThrough {
  text-decoration: line-through;
  color: red;
}

.completeButton {
  background-color: #b318f0;
  color: white;
}

.undoButton {
  background-color: #c06021;
  color: white;
}

.deleteButton {
  background-color: #e95a40;
  color: white;
}
